<%- include('./_guest-header') %>
  <div id="app"><%- html %></div>
  <style id="jss-server-side"><%- css %></style>
  <script id="initial-config" type="text/plain" data-json="<%- config %>"></script>
  <script type="text/javascript" charset="utf-8" src="<%- bundle %>"></script>
<%- include('./_guest-footer') %>
