<%- include('./_guest-header') %>
  <script>
    window.__PRELOADED_STATE__ = <%- initialState %>;
    window.__CONFIG__ = <%- config %>;
  </script>
  <div id="app"><%- html %></div>
  <style id="jss-server-side"><%- css %></style>
  <script type="text/javascript" charset="utf-8" src="/js/guest.js?ver=<%- jsDate %>"></script>
<%- include('./_guest-footer') %>
