<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="/css/menber-style.css" rel="stylesheet" media="screen">
    <title><%- title %></title>
  </head>
  <body>
  <script>
    window.__PRELOADED_STATE__ = <%- initialState %>;
    window.__CONFIG__ = <%- config %>;
  </script>
  <div id="app"><%- html %></div>
  <style id="jss-server-side"><%- css %></style>
  <script type="text/javascript" charset="utf-8" src="<%- bundle %>"></script>
</body>
</html>

